<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>패션 게시판</title>
</head>
<body>
<form>
    {% csrf_token %}
    <div>
        <a type="button" href="/main"> 메인 </a>
    </div>
    <div>
        <a href="{% url 'fashionForm' %}">작성하기</a>
    </div>
    <p>패션 게시글 리스트</p>
    <br>
    <div>
        {% for list in fashionList %}
            <div>
                <a href="post/{{ list.boardID }}">{{ list.title }} 입니다.</a>
            </div>
        {% endfor %}
    </div>

</form>
</body>
</html>