<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>중고 거래 게시판 작성하기</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        제목 : <input type="text" name="title"/>
        <br>
        본문 : <input type="text" name="content"/>
        <br>
        게시물사진 : <input type="text" name="image"/>
        <br>
        가격 : <input type="number" name="price"/>
        <br>
        날짜 :
        <input type="submit" class="btn btn-primary">
    </form>

</body>
</html>